include VERSION
include LICENSE
include README.md
include pyproject.toml
include requirements*.txt
recursive-include jsonchamp *.py *.typed
recursive-include examples *.json *.smap
recursive-include docs *.md
prune tests
prune __pycache__
prune *.egg-info
global-exclude *.pyc
global-exclude *.pyo
global-exclude .DS_Store
